{
  "name": "iuffy service",
  "server": {
    "port": 10002
  },
  "thirdParty": {
    "aliDayu": {
      "appKey": "****",
      "appSecret": "***"
    },
    "smtp": {
      "connectionString": "",
      "from": ""
    },
    "forecast": {
      "key": ""
    },
    "amap": {
      "key": ""
    }
  },
  "database": {
    "postgres": {
      "iuffy": {
        "host": "localhost",
        "db": "iuffy-test",
        "port": 5432,
        "credentials": {
          "username": "postgres"
        },
        "default": true
      },
      "postgres": {
        "db": "postgres",
        "host": "localhost",
        "port": 5432,
        "credentials": {
          "username": "postgres"
        }
      }
    }
  },
  "jwtOptions": {
    "expiresIn": "180d"
  },
  "secret": {
    "jwt": "jwtsecret",
    "cookie": "1dy-7C6-a4H-eEa",
    "hash": "Fc5-vhT-zG5-7vh"
  },
  "pay": {
    "wechat": {
      "appid": "",
      "appsecret": "",
      "partnerid": "",
      "signkey": "",
      "redirect": ""
    },
    "ali": {
      "partnerid": "",
      "appid": "",
      "sellerid": "",
      "redirect":  ""
    }
  }
}
